        .list-011 {
            list-style-type: disc;
            padding: 1em 1em 1em 2.5em;
            border-left: 5px solid #2589d0;
            background-color: #f2f2f2;
        }

        .list-011 li {
            padding: .3em .3em .3em 0;
        }

        .list-011 li::marker {
            color: #2589d0;
            font-size: 1.1em;
        }

        .box-011 {
            position: relative;
            max-width: 400px;
            margin: 1.9em auto 0;
            padding: 1em 1.5em;
            border: 2px solid #2589d0;
            border-radius: 3px;
        }

        .box-011 span {
            position: absolute;
            top: -1.9em;
            left: -2px;
            padding: .2em .8em;
            border-radius: 5px 5px 0 0;
            background-color: #2589d0;
            color: #fff;
        }

        .box-011 p {
            margin: 0;
            color: #333;
        }

        .button-061 {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 250px;
            margin: 0 auto;
            padding: .9em 3.2em .9em 2em;
            border: none;
            border-radius: 25px;
            background-color: #2589d0;
            background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%23fff%3B%22%2F%3E%0A%3C%2Fsvg%3E);
            background-position: right 3em center;
            background-size: 1.2em;
            background-repeat: no-repeat;
            color: #fff;
            font-weight: 600;
            font-size: 1em;
        }

        .button-061:hover {
            background-color: #1579c0;
        }

        .button-061::before,
        .button-061::after {
            position: absolute;
            right: calc(3.6em - 1.5px);
            width: 3px;
            height: 10px;
            border-radius: 1px;
            background-color: #2589d0;
            content: '';
        }

        .button-061::before {
            transform: rotate(90deg);
        }